<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>收集表单数据</title>
  <script src="../vue.js"></script>
</head>

<body>
  <div id="root">
    <form @submit.prevent="demo">
      账号：<input type="text" v-model.trim="userInfo.account"> <br><br>
      密码：<input type="password" v-model="userInfo.password"> <br><br>
      年龄：<input type="number" v-model.number="userInfo.age"> <br><br>
      性别：
      男<input type="radio" name="gender" v-model="userInfo.gender" value="male">
      女<input type="radio" name="gender" v-model="userInfo.gender" value="female"><br><br>
      爱好：
      学习<input type="checkbox" v-model="userInfo.hobby" value="study">
      打游戏<input type="checkbox" v-model="userInfo.hobby" value="game">
      吃饭<input type="checkbox" v-model="userInfo.hobby" value="eat">
      <br><br>
      所属校区
      <select v-model="userInfo.city">
        <option value="">请选择校区</option>
        <option value="beijing">北京</option>
        <option value="shanghai">上海</option>
        <option value="shenzhen">深圳</option>
        <option value="wuhan">武汉</option>
      </select>
      <br><br>
      其他信息：
      <textarea v-model.lazy="userInfo.other"></textarea>
      <br><br>
      <input type="checkbox" v-model="userInfo.agree"> 阅读并接受<a href="www.baidu.com">《用户协议》</a>
      <br><br>
      <button>提交</button>
    </form>
  </div>

  <script type="text/javascript">
    Vue.config.productionTip = false

    const vm = new Vue({
      el: '#root',
      data: {
        userInfo: {
          account: '',
          password: '',
          age: '',
          gender: 'male',
          hobby: [],
          city: 'beijing',
          other: '',
          agree: false
        }
      },
      methods: {
        demo() {
          // 一般不直接获取_data
          // console.log(JSON.stringify(this._data))

          console.log(JSON.stringify(this.userInfo))
        }
      },
    })
  </script>
</body>

</html>